<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Kunal G.</title>
  <link rel="stylesheet" href="static/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
  <link rel="icon" href="static/favicon.ico">
</head>

<body>
  <div class="top-container">
    <img class="top-cloud" src="static/images/cloud.png" alt="cloud">
    <div class="title-text">
      <h1>I'm Kunal.</h1>
      <h2>a <span class="pro">pro</span>grammer.</h2>
    </div>
    <img class="bottom-cloud" src="static/images/cloud.png" alt="cloud">
    <img class="mountain" src="static/images/mountain.png" alt="mountain-img">
  </div>

  <div class="middle-container">
    <div class="profile">
      <img src="static/images/kunal.png" alt="kunal-profile-img" id="profile-pic">
      <h2>Hello.</h2>
      <p class="intro">I am an Engineering graduate and a programmer. I work at Cognizant Technology Solutions as a
        Programmer Analyst. I ❤️ food and movies.</p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <div class="skill-row">
        <img class="code-img" src="https://media.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif" alt="code-img">

        <h3>Design & Development</h3>
        <p>I like designing and developing web apps. And I love to learn about new technologies.</p>

      </div>
      <div class="skill-row">
        <img class="chilli-img" src="static/images/chillies.png" alt="chillies-img">

        <h3>Lorem ipsum dolor sit amet.</h3>
        <p>Lorem ipsum dolor sit amet consectetur. Illo eum velit voluptatum architecto, et iste enim ipsam ab voluptatem?.</p>

      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>If you love spicy food as much as I do.</h3>
      <p class="contact-message">Love food as much as I do? Let's talk about how awesome it is! We can code
        while we eat pizza!</p>
      <a class="btn" href="mailto:coolkunalgupta123@gmail.com">CONTACT ME</a>
    </div>
  </div>


  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/justk9/">LinkedIn</a>
    <a class="footer-link" href="https://github.com/MrLuciferM">Github</a>
    <a class="footer-link" href="#">Website</a>
    <p class="copyright">© 2021</p>
  </div>
</body>

</html>